<body class="formproduct">
<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="grid">
  <div class= "form1">
  <div class="field">
    <%= form.label :title %> (name of the product)
    <p>
    <%= form.text_field :title ,class:"input1"%>
  </div>

  <div class="field">
  <%= form.label :size %>
  <p>
  <%= form.text_field :size %>
</div>
</div>



<div class="field form2">
<%= form.label :description %>
<p>
<%= form.text_area :description ,class:"description" %>
</div>



<div class="form3">

<div class="field">
<%= form.label :avatar %> (the image show for all colors)
<p>
<%= form.file_field :avatar %>
</div> 
<div class="field">
<%= form.label :classify %>
<p>
<%= form.select :classify, ['Greatest', 'Latest', 'None'], selected: 'Latest' %>
</div>
</div>
</div>




<div class="grid" >
  <div class="field form1">
    <%= form.label :color1 %>
<p>
    <%= form.text_field :color1 %>
  </div>

  <div class="field form2">
  <%= form.label :price1 %>
 <p>
  <%= form.text_field :price %>
</div>

  <div class="field form3">
  <%= form.label :images1 %>
  <p>
  <%= form.file_field :images, multiple: true %>
  </div>
</div>
<% @product.images.each do |image| %>
  <%= image_tag image ,class:"image-form" %>
  <%end%>
 


  <div class="grid" >
  <div class="field form1">
    <%= form.label :color2 %>
<p>
    <%= form.text_field :color2 %>
  </div>

  <div class="field form2">
  <%= form.label :price2%>
 <p>
  <%= form.text_field :price2 %>
</div>

  <div class="field form3">
  <%= form.label :images2 %>
  <p>
  <%= form.file_field :images2, multiple: true %>
  </div>
</div>
<% @product.images2.each do |image| %>
  <%= image_tag image ,class:"image-form" %>
  <%end%>
 
  <div class="action">
    <%= form.submit %>
  </div>
<% end %>
</body>
