
<title>All Nabi Dresses</title>
<%= render "layouts/header" %>
<body class="indexproduct">
<p id="notice"><%= notice %></p>
<!--doi logo favicon homepage -->
<div class="logohomepage">


<h1><i class="fa-brands fa-apple"></i>All Nabi Dresses</h1>


<!-- tao product thang hang -->
<div class="product-index-grid ">

    <% @products.each do |product| %>
      <div class="product">
      <% if user_signed_in? %>
     
    <%= link_to 'Destroy', product, data: { confirm: 'Are you sure?' }, :method => :delete ,class:"warning1" %>
    <span class="classify">(<%= product.classify  %>)</span>
    <%= link_to 'Edit', edit_product_path(product), class:"edit2" %><br/>
    <%end%>
    <p>
    <% if product.avatar.attached? %>
    <%= link_to image_tag(product.avatar,:class => 'image-index'),product %>
    <%end%>
    <p class="price"><%= number_to_currency product.price/20000-0.01 %>
    <p class="title"><%= product.title %></p>

    <p class="color"><%= product.color1%>/<%= product.color2%>/<%= product.color3%>
    <p class="size"><%= product.size %>   
    </div>
    <% end %>
</div>
<br>
<% @sanpham.where('price >350000').find_each do |a| %>
  <%= a.title %>
  <% end %>
 <br>

</body>

<%= render "layouts/footer" %>