
<title>All Nabi Dresses</title>
<%= render "layouts/header" %>
<body class="indexproduct">
<p id="notice"><%= notice %></p>
<!--doi logo favicon homepage -->
<div class="logohomepage">



<h1><i class="fa-brands fa-apple"></i><%= link_to "All Nabi Dresses", products_path ,class:"title1"%></h1>

<!-- tao product thang hang -->
<div class="normal" >
<div class="filter">
<br>
<%= render "products/filter" %>
</div>
<div class="product-index-grid ">
    <% @products.each do |product| %>
      <div class="product">
      <% if user_signed_in? %>
     
    <%= link_to 'Destroy', product, data: { confirm: 'Are you sure?' }, :method => :delete ,class:"warning1" %>
    <span class="classify">(<%= product.classify  %>)</span>
    <%= link_to 'Edit', edit_product_path(product), class:"edit2" %><br/>
    <%end%>
    <p>
    <% if product.avatar.attached? %>
    <%= link_to image_tag(product.avatar,:class => 'image-index'),product %>
    <%end%>
    
    <p class="price"><%= number_to_currency product.price/20000-0.01 %>
    <% if product.price2.present? %>
    ~<%=product.price2/20000-0.01 %>
  <%end%>
  
    <p class="title"><%= product.title %></p>

    <p class="color"><%=product.color1%>
    <% if product.color2.present? %>/<%= product.color2%>
    <%end%>
    <% if product.color3.present? %>
    /<%= product.color3%>
    <%end%>
    <% if product.color4.present? %>
    /<%= product.color4%>
    <%end%></p>
 
    <p class="size"><%= product.size %>   
    </div>
    <% end %>
</div>
</div>
<br>




</body>


<%= render "layouts/footer" %>