<%= render "layouts/header" %>
<body class="showproduct">
<div class="normal">
  <div class="show1" id="parent">
    <div class="flex2" id="aaa">
      <% @products.take(1).each do |product| %> <!--##dung take(1) hoac slice(1,1)-->
        <div id="carousel_<%= product.id=1 %>" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">

          <div class="carousel-indicators">         <!-- Indicators/dots -->
            <% @product.images.each_with_index do |image, index| %>
              <button data-bs-target="#carousel_<%= product.id=1 %>"  data-bs-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %> nut ">
              <%= image_tag image ,class:'image-show d-block ' %><br>
              </button>
            <%end%>
          </div>

          <div class="carousel-inner">          <!-- carousel -->
            <% @product.images.each_with_index do |image, index| %>
              <div id="carousel_item_<%= index %>" class="carousel-item <%= index == 0 ? 'active' : '' %>">
                <%= image_tag image, class: 'image-index' %><br>
              </div>
            <%end%>
          </div>
                                        <!-- button -->
          <button class="carousel-control-prev" data-bs-target="#carousel_<%= product.id=1 %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel_<%= product.id=1 %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% end %>
    </div>
  

    <div class="flex2" id="bbb" style="display:none" >
      <% @products.take(1).each do |product| %> <!--##dung take(1) hoac slice(1,1)-->
        <div id="carousel_<%= product.id=2 %>" class="carousel slide" data-bs-ride="carousel"  data-bs-interval="false">

          <div class="carousel-indicators">         <!-- Indicators/dots -->
            <% @product.images2.each_with_index do |image, index| %>
              <button data-bs-target="#carousel_<%= product.id=2 %>"  data-bs-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %> nut ">
              <%= image_tag image ,class:'image-show d-block ' %><br>
              </button>
            <%end%>
          </div>

          <div class="carousel-inner">          <!-- carousel -->
            <% @product.images2.each_with_index do |image, index| %>
              <div id="carousel_item_<%= index %>" class="carousel-item <%= index == 0 ? 'active' : '' %>">
                <%= image_tag image, class: 'image-index' %><br>
              </div>
            <%end%>
          </div>
                                        <!-- button -->
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel_<%= product.id=2 %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel_<%= product.id=2 %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="show2">
  <h1>
  <%= @product.title %>
  </h1>
  <p id="price"> 
<span id="price1">
<%= number_to_currency @product.price/20000-0.01 %>
</span>
<% if @product.price2.present? %>
<span id="price2" style="display:none">
<%= number_to_currency @product.price2/20000-0.01 %>
</span>
<%end%>
 -  <span class="strong"><%= @product.size %></span>

</p>
<p class="description">
  <%= @product.description %>
</p>




<% if @product.color2.present? %>
<span class="strong">Select color:</span>
<br><br>
  <a onclick="x()">
  <% @product.images.take(1).each do |image| %>
    <%= image_tag image ,class:"image-color"%>
    <%end%>
  </a>
  <a onclick="y()">
  <% @product.images2.take(1).each do |image| %>
    <%= image_tag image ,class:"image-color" %>
    <%end%>
  </a>
  <%end%>


  
</div>
</div>


<%= render "layouts/footer" %>

<script>
 function x() {
  document.getElementById("aaa").style.display = "block";
  document.getElementById("bbb").style.display = "none";
  document.getElementById("price1").style.display = "inline";
  document.getElementById("price2").style.display = "none";
}
function y() {
  document.getElementById("aaa").style.display = "none";
  document.getElementById("bbb").style.display = "block";
  document.getElementById("price1").style.display = "none";
  document.getElementById("price2").style.display = "inline";
}
</script>