<title>All Nabi Dresses</title>
<div id"store">

<body class="store" >

<p id="notice"><%= notice %></p>

<h1>All Nabi Dresses</h1>

<div class="product-index-grid ">

    <% @products.each do |product| %>
    <div class="product">
    <p>
    <% if product.avatar.attached? %>
    <%= image_tag(product.avatar,:class => 'image-index')%>
    <%end%>
    <p class="price"><%= number_to_currency product.price/20000-0.01 %>
    <p class="title"><i><%= product.title %></i>
    <p class="description"><%= product.description%> 
    </div>
    <% end %>
</div>
</body>
</div>
