<!DOCTYPE html>

<html>
<head>

<%= favicon_link_tag 'brand.png' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"><!--nhúng font-awesome -->

<script src="https://vjs.zencdn.net/7.19.2/video.min.js"></script><!-- nhung video -->

</head>


<div>

    <%= yield %>

</div>
