<!DOCTYPE html>

<html>
<head>

<%= favicon_link_tag 'brand.png' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"><!--nhúng font-awesome -->

<script src="https://vjs.zencdn.net/7.19.2/video.min.js"></script><!-- nhung video -->

</head>

<header>
  <nav class="navbar navbar-expand-sm bg-black fixed-top "> 
  
  <%= link_to image_tag('logonabi.jpg',:class => 'rounded-pill'),root_path,class:"navbar-brand" %>
  
  
      <ul class="navbar-nav me-auto ">
        <li class="nav-item" >
        <%= link_to "All Dresses", products_path, class:"nav-link" ,style:"color:rgb(184, 138, 230)" %>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" style="color:rgb(184, 138, 230)" data-bs-toggle="dropdown">Find Us On</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" style="color:rgb(184, 138, 230);" target="_blank" href="https://www.instagram.com/nabi.larobe/"><i class="fa-brands fa-instagram-square"></i> Instagram</a></li>
          <li><a class="dropdown-item" style="color:rgb(184, 138, 230);" target="_blank" href="https://www.facebook.com/nabilarobee"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
          <li><a class="dropdown-item" style="color:rgb(184, 138, 230);" target="_blank" href="https://shopee.vn/nabilarobe"><i class="fa-brands fa-shopify"></i> Shopee</a></li>
          <li><a class="dropdown-item" style="color:rgb(184, 138, 230);" target="_blank" href="https://www.tiktok.com/@nabilarobe"> <i class="fa-brands fa-tiktok"></i> Tiktok</a></li>
          </ul>
      </li>
    
      <% if user_signed_in? %>
   
      <li class="nav-item" >
      <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link" ,style:"color:rgb(184, 138, 230)" %>
      </li>
      <li class="nav-item" >
      <%= link_to "Sign Out",  destroy_user_session_path,method: :delete, class:"nav-link" ,style:"color:rgb(184, 138, 230)" %>
      </li>
      <li class="nav-item" >
      <%= link_to 'New Product', new_product_path , class:"nav-link" ,style:"color:rgb(184, 138, 230)" %>
      </li>
      <% else %>
      <li class="nav-item" >
      <%= link_to "Admin Log in", new_user_session_path, class:"nav-link" ,style:"color:rgb(184, 138, 230)" %>
      </li>
      <% end %>

     
      </ul>
     
      <button class="btn" type="submit">
        <img src="https://thumbs.dreamstime.com/b/home-search-icon-element-minimalistic-icons-mobile-concept-web-apps-neon-can-be-used-dark-gradient-background-mo-119396547.jpg"  style="width:35px;height:35px;margin-bottom:0px;margin-top:0px;" class="rounded-pill">
      </button>
      <input class="form-control" type="text" placeholder="What are you looking for ? (name,color,...)">
      
</header>

<div>

    <%= yield %>

</div>
<div>
<footer class="grid-container">
<div class="grid-item">About Nabi</div>
<div class="grid-item">Contact Us</div>
<div class="grid-item">Order Status</div>  
<div class="grid-item"><i class="fa-solid fa-location-dot"></i>Find Our Store</div>
<div class="grid-item">Send Feedback</div>  
<div class="grid-item">Legal</div>
<div class="grid-item" style="font-size:15px;font-family:initial" >&#9743; 0934114954-VietNam 2021-2022 Nabi la robe® - All rights reserved. </div>
</div>
</div>
